$color_1: white;
$background-color_1: #623;
$background-color_2: #111;

ul {
	list-style-type: none;
	padding: 10px;
	overflow: hidden;
	background-color: $background-color_1;
	margin: -10px;
}
li {
	float: left;
	a {
		display: block;
		color: $color_1;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		&:hover {
			background-color: $background-color_2;
		}
	}
}
